/*
header-bg
*/
.header{
	padding: 48px 48px 32px 48px;
	position: relative;
	top: 0px;
	height: 168px;
}
.background-sky{
	background-color: #1976D2;
	background: -webkit-linear-gradient(305deg,#0D47A1,#42A5F5);
	background: linear-gradient(145deg,#0D47A1,#42A5F5);
}
.header-title{	
	display: inline-block;
	margin: 0px 8px 0px 0px;	
	font-size: 28px;
	font-weight: 400;
	line-height: 48px;
	color: white;
}

/*
validation
*/
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
