*{
	margin: 0px;
	padding: 0px; 
}
#control-content{
	height: 100%;
}
/*
left-content
*/
.col-md-2{
	padding-right: 0px;
	padding-left: 0px;
	box-shadow: 3px 0 6px rgba(0,0,0,0.24);
}
#left-content{
	position: relative;
	height: 100%;
	background: rgba(236,239,241,0.56);
}
/*
side-menu-search
*/
.side-menu-search{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25px;
	border-bottom: 1px solid #F0F0F0;
}
.side-menu-search > input {
	width: 90%;
	margin: 3px 0px;
	border-radius: 200px;
	height: 32px;
	background-color: #fff;
	outline: none;
	text-indent: 5px;
}
/*
side-menu-list
*/
.fa-arrows:before {
	content: none;
}
.side-menu-list{
	width: 100%;
}
.side-menu > .side-menu-list > ul{
	padding: 0px;
	width: 100%;
}
.side-menu > .side-menu-list > ul >li {
	list-style-type: none;
	width: inherit;
}
.side-menu > .side-menu-list > ul >li a{
	display: block;
	width: inherit;
	text-decoration: none;
	height: 45px;
	padding: 12px 20px;
	text-indent: 5px;
	color: #8B8E93;
	border-bottom: 1px solid rgba(207,216,220,0.56);
}
.side-menu > .side-menu-list > ul >li a:hover{
	background: #f0f0f0;
	cursor: pointer;
}
.side-menu > .side-menu-list > ul >li a:active{
	text-decoration: none;
}
.side-menu > .side-menu-list > ul >li a span:first-child{
	margin-right: 5px;
}
.fa{
	display: inline-block;
	margin-left: 15px; 
}
.fa-arrows{
	width: 8px;
	height: 8px;
	border-left: 2px solid #333;
	border-bottom: 2px solid #333;
	transform: rotate(-45deg);
}
/*
header-bg
*/
.header{
	padding: 48px 48px 32px 48px;
	position: relative;
	top: 0px;
	height: 168px;
}
.background-sky{
	background-color: #1976D2;
	background: -webkit-linear-gradient(305deg,#0D47A1,#42A5F5);
	background: linear-gradient(145deg,#0D47A1,#42A5F5);
}
.header-title{	
	display: inline-block;
	margin: 0px 8px 0px 0px;	
	font-size: 28px;
	font-weight: 400;
	line-height: 48px;
	color: white;
}